@charset "UTF-8";

#gallery {
	height: 90%;
	width: 33%;	
	margin-left: 67%;
	background: #fff;
	border: 4px double black;
	word-break: break-all;	
	position: fixed;		
	
}

div#gallery img.images {

	height: 15%;
	width: 19%;	
	margin-right: 5%;
	margin-top: 5%;		
}

h2 {
	font-size: 12pt
}

.images:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

